@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stracon-red: #DC2626;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__portal {
  width: 100vw;
  position: absolute !important;
  z-index: 9999;
}

.clickable {
  cursor: pointer;
}

.thumbnail {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.logo {
  color: var(--stracon-red);
  font-family: Helvetica;
}

.hidden {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}