.navbar {
    display: flex !important;
    position: sticky;
    top: 0;
}

.logo {

}

.menu {
    display: flex !important;

}

.small-menu {
    display: hidden;
}

@media screen and (max-width: 991px) {
    .small-menu {
        display: flex !important;
    }

    .menu {
        display: flex !important;
    }
}

